// ==========================================
// $LAYOUT
// ==========================================
@media (min-width: 600px){
    section {
        padding: $padding;
    }

    header {
        padding: $padding;
    }
}
@media (max-width: 600px){
    section {
        padding: calc(#{$padding}/2);
    }

    header {
        padding: calc(#{$padding}/2);
    }
}



header h1 small {
    color: $color-secondary;
    text-transform: uppercase;
}

video {
    width: 100%;
}

footer {
    box-sizing: border-box;
    vertical-align: auto;
    grid-column-start: 1;
    grid-column-end: 3;
    min-height: 50px;
    padding: $padding;
    background: rgba(193,36,21,1);
    background: -moz-linear-gradient(top, rgba(193,36,21,1) 0%, rgba(197,29,7,1) 0%, rgba(197,34,13,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(193,36,21,1)), color-stop(0%, rgba(197,29,7,1)), color-stop(0%, rgba(197,34,13,1)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(193,36,21,1) 0%, rgba(197,29,7,1) 0%, rgba(197,34,13,1) 0%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(193,36,21,1) 0%, rgba(197,29,7,1) 0%, rgba(197,34,13,1) 0%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(193,36,21,1) 0%, rgba(197,29,7,1) 0%, rgba(197,34,13,1) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(193,36,21,1) 0%, rgba(197,29,7,1) 0%, rgba(197,34,13,1) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c12415', endColorstr='#000000', GradientType=0 );
}

footer p {
    font-size: .9em;
    text-align: center;
    margin: 0 auto 40px;
}